*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

nav, footer, .dash{
   background-color: #2C3E50;
}

.fa-star{
   color: #2C3E50;
   font-size: 1.5rem;
}

.dash{
   height: 0.3rem;
   width: 15%;
   border-radius: 100px;
   display: inline-block;
   margin: 0 1rem;
}

section{
   scroll-margin-top: 60px;
}


/* ----- JUMBOTRON ----- */

#jumbotron{
   margin-top: 55px;
}

#jumbotron, #about{
   background-color: #1ABC9C;
}

#jumbotron img{
   height: 15rem;
}

/* ----- PORTFOLIO ----- */

#portfolio img{
   width: 100%;
}

/* <div class="invalid-feedback">
Please choose a username.
</div> */

#contact .form-control:focus{
   box-shadow: none;
}

footer .rounded-circle{
   border: 2px solid white;
}
.mc-icon{
   width: 4rem;
   height: 4rem;
}
