*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

nav, footer, .dash{
   background-color: #2C3E50;
}

.fa-star{
   color: #2C3E50;
   font-size: 1.5rem;
}

.dash{
   height: 0.3rem;
   width: 15%;
   border-radius: 100px;
   display: inline-block;
   margin: 0 1rem;
}

section{
   scroll-margin-top: 55px;
}

/* ----- JUMBOTRON ----- */

#jumbotron{
   margin-top: 55px;
}

#jumbotron, #about, .ms_btn_send{
   background-color: #1ABC9C;
   border: none;
}

#jumbotron img{
   height: 15rem;
}

/* ----- PORTFOLIO ----- */

#portfolio img{
   width: 100%;
}

.overlay{
   display: none;
   position: absolute;
   top: 0;
   right: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(26, 188, 156, 0.9);
}

.overlay .fa-plus{
   font-size: 5rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.over:hover .overlay{
   display: inline-block;
}

#contact .form-control:focus{
   box-shadow: none;
}

footer .rounded-circle{
   border: 2px solid white;
}
.mc-icon{
   width: 4rem;
   height: 4rem;
}

.ms_bg_light{
   background-color: #3A546D;
}
